<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Storefront{% endblock %}</title>
  </head>
  <body>
    <ul class="sidebar-nav">
      {% if user.is_authenticated %}
        <li>Logged in as {{ user.username }}</li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
        <li>You are not logged in</li>
        <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>